@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 216, 33%, 97%;
    --foreground: 0, 0%, 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 225, 10%, 93%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 219, 100%, 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 29% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 240, 7%, 97%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 227, 8.8%, 5%;
    --foreground: 0, 0%, 9%;

    --muted: 224, 16%, 27%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 227, 13%, 27%;
    --accent-foreground: 210 40% 98%;

    --popover: 231, 14%, 20%;
    --popover-foreground: 213 31% 91%;

    --card: 224, 16%, 19%;
    --card-foreground: 213 31% 91%;

    --primary: 219, 100%, 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 230, 12%, 29%;
    --secondary-foreground: 210 40% 98%;

    --border: 217, 19%, 27%;
    --input: 227, 13%, 14%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply overscroll-none bg-background text-foreground;

    font-family: var(--font-geist-sans), sans-serif;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-secondary;
}
=======

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}