@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 216, 33%, 97%;
    --section: 0, 0%, 100%;
    --foreground:  227, 8.8%, 5%;

    --muted: 210, 10%, 65%;
    --muted-foreground: 220, 50%, 97%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 225, 10%, 93%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 219, 100%, 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: #ebf7ff;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 240, 7%, 97%;
    --radius: 12px;
  }

  .dark {
    --background: 227, 8.8%, 5%;
    --section: 0, 0%, 9%;
    --foreground: 0, 0%, 100%;

    --muted: 210, 10%, 65%;
    --muted-foreground: 220, 50%, 97%;

    --accent: 227, 13%, 27%;
    --accent-foreground: 210 40% 98%;

    --popover: 231, 14%, 20%;
    --popover-foreground: 213 31% 91%;

    --card: 224, 16%, 19%;
    --card-foreground: 213 31% 91%;

    --primary: 219, 100%, 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: #ebf7ff;
    --secondary-foreground: 210 40% 98%;

    --border: 217, 19%, 27%;
    --input: 227, 13%, 14%;
    --radius: 12px;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply overscroll-none bg-background text-foreground;

    font-family: var(--font-onest-sans), sans-serif;
    height: 100vh;
  }
}

@layer utilities {
  .fluid-padding {
    @apply px-0;

    @media (min-width: 550px) {
      padding-left: clamp(1rem, 5vw, 5rem);
      padding-right: clamp(1rem, 5vw, 5rem);
    }
  }
}


::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-secondary;
}


@media (min-width: 1300px) {
  .custom-1300\:flex-row {
    flex-direction: row;
  }
}